<header class="navbar navbar-expand-xl navbar-dark bg-light">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0" style="font-size:14px">
        <li><a routerLink="/dashboard/user" class="nav-link px-2 link-dark fw-bold">Overview</a></li>
        <li><a routerLink="/friend" class="nav-link px-2 link-dark fw-bold">Friend</a></li>
      </ul>


      <div class="dropdown text-end">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
           data-bs-toggle="dropdown" aria-expanded="false">
          <img ngSrc="../../assets/download.jpg" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style="">
          <li>
            <button class="dropdown-item" (click)="logout()">Log out</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<div class="container-xl">
  <div class="table-responsive" style="margin-top: 30px;margin-bottom: 0px;">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-8"><h2>Friend <b>Lists</b></h2></div>
          <div class="col-sm-4">
            <div class="search-box">
              <i class="material-icons">&#xE8B6;</i>
              <input [(ngModel)]="name" (ngModelChange)="getListFriend(0)" type="text" class="form-control"
                     placeholder="Search&hellip;">
            </div>
            <div class="row d-flex justify-content-end">
              <button class="btn btn-primary" title="Add Friend" (click)="openDiaLog()">Add Friend</button>
            </div>
          </div>
        </div>
      </div>
      <table class="table table-striped table-hover table-bordered">
        <thead style="text-align: center;">
        <tr>
          <th>STT</th>
          <th>Name <i class="fa fa-sort"></i></th>
          <th>Nick Name</th>
          <th>Email <i class="fa fa-sort"></i></th>
          <th>Address</th>
          <th>Phone Number <i class="fa fa-sort"></i></th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody *ngIf="listFriend.length > 0">
        <tr *ngFor="let element of listFriend, index as i">
          <td class="align-content-center">{{i + 1}}</td>
          <td>{{element.name}}</td>
          <td>{{element.nick_name}}</td>
          <td>{{element.email}}</td>
          <td>{{element.address}}</td>
          <td>{{element.phoneNumber}}</td>
          <td>
            <button class="edit" title="Edit" (click)="openEditModal(element.id, editModal)"><i class="material-icons">&#xe254;</i></button>
            <button class="delete" title="Delete" style="border: none;color: red;"
                    (click)="deleteName= element.name; openDeleteModal(element.id,deleteModal)"><i
              class="material-icons">&#xE872;</i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row" style="
    margin-left: 10px;
    margin-right: 10px;">
    <div class="col-md-9">
      <h3 class="mat-typography h3 fw-bold"> Total {{totalPage}} result page</h3>
    </div>
    <div class="col-md-3">
      <ul class="pagination d-flex justify-content-md-end justify-content-center" style="width: 100%">
        <li class="page-item">
          <button class="page-link" [hidden]="pageNo === 0" (click)="pageNo = 0;getListFriend(0)"><i
            class="fa fa-angle-double-left"></i></button>
        </li>
        <li class="page-item">
          <button class="page-link" [hidden]="pageNo === 0"
                  (click)="pageNo = pageNo -1; getListFriend(pageNo)"><i class="fa fa-angle-left"></i>
          </button>
        </li>
        <li class="page-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1" style="padding-bottom: 4px;"
                    (keyup.enter)="pageNo = ok.valueAsNumber - 1; getListFriend(pageNo)">
                <input #ok style="padding: 0!important;" class="text-center" type="number" min="1" [max]="totalPage"
                       [valueAsNumber]="pageNo + 1">/ {{totalPage}}
              </span>
            </div>
          </div>
        </li>

        <li class="page-item">
          <button class="page-link" [hidden]="pageNo >=  totalPage - 1"
                  (click)="pageNo = pageNo + 1; getListFriend(pageNo)"><i class="fa fa-angle-right"></i>
          </button>
        </li>
        <li class="page-item">
          <button class="page-link"
                  [hidden]="pageNo >=  totalPage - 1 && pageNo < totalPage"
                  (click)="pageNo = totalPage - 1; getListFriend(totalPage -1)"><i class="fa fa-angle-double-right"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>

<ng-template #deleteModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title"><b>Xác nhận xóa</b></h5>
  </div>
  <div class="modal-body">
    Bạn có chắc muốn xóa {{deleteName}} không?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss('cancel')">Hủy</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('delete')">Xóa</button>
  </div>
</ng-template>
<ng-template #editModal let-modal style="position: fixed!important;">
  <div class="modal-header">
    <h6 class="modal-title"><b>Edit Profile</b></h6>
  </div>
  <div class="modal-body">
    <div class="row">
    <form class="form-horizontal padding-10">
      <div class="form-group">
        <label class="col-md-3 control-label" for="profileName">Name</label>
        <div class="col-md-8">
          <input type="text" class="form-control" id="profileName" name="profileName"
                 [(ngModel)]="selectedFriend.name" [readonly]="selectedFriend.name !== undefined">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label" for="profileNickName">Nick Name</label>
        <div class="col-md-8">
          <input type="text" class="form-control" id="profileNickName"
                 name="profileNickName"
                 [(ngModel)]="selectedFriend.nick_name">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label" for="profileEmail">Email</label>
        <div class="col-md-8">
          <input type="text" class="form-control" id="profileEmail" name="profileEmail"
                 [(ngModel)]="selectedFriend.email" [readonly]="selectedFriend.email !== undefined">
          </div>

        </div>
      <div class="form-group">
        <label class="col-md-3 control-label" for="profileAddress">Address</label>
        <div class="col-md-8">
          <input type="text" class="form-control" id="profileAddress"
                 name="profileAddress"
                 [(ngModel)]="selectedFriend.address">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label" for="profilePhone">Phone Number</label>
        <div class="col-md-8">
          <input type="text" class="form-control" id="profilePhone" name="profilePhone"
                 [(ngModel)]="selectedFriend.phoneNumber">
        </div>
      </div>
    </form>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <button type="submit" class="btn btn-primary" (click)="modal.close('edit')">Submit</button>
      </div>
      <div class="col-md-3 ">
        <button type="button" class="btn btn-secondary" (click)="modal.close('cancel')">Cancel</button>
      </div>
    </div>
  </div>
</ng-template>


