<header class="navbar navbar-expand-xl navbar-dark bg-light">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-md-around justify-content-lg-start ">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0" style="font-size:14px">
        <li><a routerLink="/dashboard/user" class="nav-link px-2 link-dark fw-bold">Overview</a></li>
        <li>
          <button *ngIf="role==='ADMIN'" class="nav-link px-2 link-dark fw-bold" (click)="openFriend()">Friend</button>
        </li>
        <app-friendlist [hidden]="true" (isPermitted)="hasNoRight($event)"></app-friendlist>
      </ul>


      <div class="dropdown text-end">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
           data-bs-toggle="dropdown" aria-expanded="false">
          <img ngSrc="../../assets/download.jpg" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style="">
          <li>
            <button class="dropdown-item" (click)="logout()">Log out</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<div class="card-body">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <div class="container">
    <div class="page-profile">
      <div class="row">
        <div class="col-md-3">
          <section class="panel">
            <div class="panel-body noradius padding-10">
              <figure class="margin-bottom-10"><!-- image -->
                <img class="img-responsive" src="../../assets/download.jpg" alt="">
              </figure>
              <h6 class="progress-head">Profile Completion <span class="pull-right">60%</span></h6>
              <div class="progress progress-xs">
                <div class="progress-bar" role="progressbar" style="width: 60%;"></div>
              </div>
              <div>
                <ul class="list-unstyled size-13">
                  <li class="text-gray" *ngIf="data.address !== ''; then addressed; else noAddress"><i
                    class='fas fa-check'></i></li>
                  <br>
                  <ng-template #addressed>{{data.address}}</ng-template>
                  <ng-template #noAddress>Cập nhật địa chỉ</ng-template>
                  <li *ngIf="data.email !== ''; then emailed ; else noEmail"><i
                    class='fas fa-check'></i></li>
                  <br>
                  <ng-template #emailed>{{data.email}}</ng-template>
                  <ng-template #noEmail>Cập nhật Email</ng-template>
                  <li *ngIf="data.phoneNumber !== ''; then phoned; else noPhone"><i
                    class='fas fa-check'></i>
                  </li>
                  <br>
                  <ng-template #phoned>{{data.phoneNumber}}</ng-template>
                  <ng-template #noPhone>Cập nhật Số điện thoại</ng-template>
                  <li>
                    <button class="codepro-custom-btn codepro-btn-16"  title="Edit"
                            style="background-color: #FFF;" (click)="openModalEdit(editModal)">Edit Profile
                    </button>
                  </li>
                </ul>
              </div>

              <hr class="half-margins">

              <!-- About -->
              <h3 class="text-black">
                {{ data.name }} / {{data.nickName}}
                <small class="text-gray size-14"></small>
              </h3>
              <p class="size-12">Kẻ hủy diệt rank Việt - Người kiến tạo lối chơi - Vua của những tiếng
                cười.</p>
              <!-- /About -->

              <hr class="half-margins">

              <h6>Follow Me</h6>
              <a href="#" class="btn ico-only btn-facebook btn-xs" title="Facebook"><i
                class="fa fa-facebook"></i></a>
              <a href="#" class="btn ico-only btn-twitter btn-xs" title="Twitter"><i
                class="fa fa-twitter"></i></a>
              <a href="#" class="btn ico-only btn-google-plus btn-xs" title="Google plus"><i
                class="fa fa-google-plus"></i></a>
              <a href="#" class="btn ico-only btn-linkedin btn-xs" title="Linked In"><i
                class="fa fa-linkedin"></i></a>
              <a href="#" class="btn ico-only btn-pinterest btn-xs" title="Pinterest"><i
                class="fa fa-pinterest"></i></a>
              <a href="#" class="btn ico-only btn-flickr btn-xs" title="Flickr"><i
                class="fa fa-flickr"></i></a>
              <a href="#" class="btn ico-only btn-tumblr btn-xs" title="Tumblr"><i
                class="fa fa-tumblr"></i></a>
              <a href="#" class="btn ico-only btn-skype btn-xs" title="Skype"><i class="fa fa-skype"></i></a>
              <a href="#" class="btn ico-only btn-stackoverflow btn-xs" title="Stack Overflow"><i
                class="fa fa-stack-overflow"></i></a>
              <a href="#" class="btn ico-only btn-instagram btn-xs" title="Instagram"><i
                class="fa fa-instagram"></i></a>
              <a href="#" class="btn ico-only btn-dribbble btn-xs" title="Dribble"><i
                class="fa fa-dribbble"></i></a>
              <a href="#" class="btn ico-only btn-youtube btn-xs" title="Youtube"><i
                class="fa fa-youtube"></i></a>
              <a href="#" class="btn ico-only btn-vimeo btn-xs" title="Vimeo"><i
                class="fa fa-vimeo-square"></i></a>
              <a href="#" class="btn ico-only btn-rss btn-xs" title="Rss"><i class="fa fa-rss"></i></a>

            </div>
          </section>
          <ng-template #editModal let-modal style="position: fixed!important;">
            <div class="modal-header">
              <h6 class="modal-title" style="margin-bottom: 0;font-size: inherit;"><b>Edit Profile</b></h6>
            </div>
            <div class="modal-body">
              <form class="form-horizontal padding-10">
                <div class="form-group">
                  <label class="col-md-3 control-label" for="profileName">Name</label>
                  <div class="col-md-8">
                    <input type="text" class="form-control" id="profileName" name="profileName"
                           required [(ngModel)]="proFile.name" #name="ngModel">
                    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="error-place"
                         style="color: #BD362F">
                      <div *ngIf="name.errors?.['required']">Name is required.</div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-3 control-label" for="profileNickName">Nick Name</label>
                  <div class="col-md-8">
                    <input type="text" class="form-control" id="profileNickName"
                           name="profileNickName"
                           [(ngModel)]="proFile.nickName">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-3 control-label" for="profileEmail">Email</label>
                  <div class="col-md-8">
                    <input type="text" class="form-control" id="profileEmail" name="profileEmail"
                           required [(ngModel)]="proFile.email" #email="ngModel"
                           [pattern]="'^[\\w-\\.]+@([\\w-]+\\.)+[\\w-]{2,4}$'">
                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error-place"
                         style="color: #BD362F">
                      <div *ngIf="email.errors?.['required']">Email is required.</div>
                      <div *ngIf="email.errors?.['pattern']">Email is invalid.</div>
                    </div>

                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-3 control-label" for="profileAddress">Address</label>
                  <div class="col-md-8">
                    <input type="text" class="form-control" id="profileAddress"
                           name="profileAddress"
                           [(ngModel)]="proFile.address">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-3 control-label" for="profilePhone">Phone Number</label>
                  <div class="col-md-8">
                    <input type="text" class="form-control" id="profilePhone" name="profilePhone"
                           [(ngModel)]="proFile.phoneNumber">
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <div class="row">
                <div class="col-md-6 col-md-offset-3">
                  <button [disabled]="email.errors || name.errors" type="submit" class="btn btn-primary"
                          (click)="modal.close(); onSubmit()">Submit
                  </button>
                </div>
                <div class="col-md-3 ">
                  <button type="button" class="btn btn-secondary" (click)="modal.close('cancel')">Cancel</button>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
        <div class="col-md-5">
          <div id="overview" class="active">
            <form class="well">
              <textarea rows="2" class="form-control" placeholder="What's on your mind?"></textarea>
              <div class="margin-top-10">
                <button type="submit" class="btn btn-sm btn-primary pull-right">Post</button>
                <a href="#" class="btn btn-link profile-btn-link" data-toggle="tooltip" data-placement="bottom"
                   title="" data-original-title="Add a Location"><i class="fa fa-map-marker"></i></a>
                <a href="#" class="btn btn-link profile-btn-link" data-toggle="tooltip" data-placement="bottom"
                   title="" data-original-title="Add Photo"><i class="fa fa-camera"></i></a>
                <a href="#" class="btn btn-link profile-btn-link" data-toggle="tooltip" data-placement="bottom"
                   title="" data-original-title="Add File"><i class="fa fa-file"></i></a>
              </div>
            </form>

            <hr class="invisible half-margins">
            <!-- COMMENT -->
            <ul class="comment list-unstyled padding-10">
              <li class="comment">
                <!-- avatar -->
                <img class="avatar" src="https://bootdey.com/img/Content/avatar/avatar1.png" width="50" height="50"
                     alt="avatar">
                <!-- comment body -->
                <div class="comment-body">
                  <a href="#" class="comment-author">
                    <small class="text-muted pull-right"> 12 Minutes ago </small>
                    <span>Melisa Doe</span>
                  </a>
                  <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                    euismod tincidunt laoreet dolore magna aliquam tincidunt erat volutpat laoreet
                    dolore magna aliquam tincidunt erat volutpat.
                  </p>
                </div><!-- /comment body -->

                <!-- options -->
                <ul class="list-inline size-11 margin-top-10">
                  <li>
                    <a href="#" class="text-info"><i class="fa fa-reply"></i> Reply</a>
                  </li>
                  <li>
                    <a href="#" class="text-success"><i class="fa fa-thumbs-up"></i> Like</a>
                  </li>
                  <li>
                    <a href="#" class="text-muted">Show All Comments (36)</a>
                  </li>
                  <li class="pull-right">
                    <a href="#" class="text-danger">Delete</a>
                  </li>
                  <li class="pull-right">
                    <a href="#" class="text-primary">Edit</a>
                  </li>
                </ul>
              </li><!-- /options -->

              <li class="comment comment-reply">

                <!-- avatar -->
                <img class="avatar" src="https://bootdey.com/img/Content/avatar/avatar2.png" width="35" height="35"
                     alt="avatar">

                <!-- comment body -->
                <div class="comment-body">
                  <a href="#" class="comment-author">
                    <small class="text-muted pull-right"> 4 Minutes ago </small>
                    <span>Ioana Doe</span>
                  </a>
                  <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy! <i
                    class="fa fa-smile-o green"></i>
                  </p>
                </div><!-- /comment body -->

                <!-- options -->
                <ul class="list-inline size-11">
                  <li>
                    <a href="#" class="text-success"><i class="fa fa-thumbs-up"></i> Like</a>
                  </li>
                  <li class="pull-right">
                    <a href="#" class="text-danger">Delete</a>
                  </li>
                  <li class="pull-right">
                    <a href="#" class="text-primary">Edit</a>
                  </li>
                </ul><!-- /options -->

              </li>

            </ul>
            <!-- /COMMENT -->

            <!-- COMMENT -->
            <ul class="comment list-unstyled padding-10">
              <li class="comment">

                <!-- avatar -->
                <img class="avatar" src="https://bootdey.com/img/Content/avatar/avatar4.png" width="50" height="50"
                     alt="avatar">

                <!-- comment body -->
                <div class="comment-body">
                  <a href="#" class="comment-author">
                    <small class="text-muted pull-right"> 12 Minutes ago </small>
                    <span>Melisa Doe</span>
                  </a>
                  <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                    euismod tincidunt laoreet dolore magna aliquam tincidunt erat volutpat laoreet
                    dolore magna aliquam tincidunt erat volutpat.
                  </p>
                </div><!-- /comment body -->

                <!-- options -->
                <ul class="list-inline size-11 margin-top-10">
                  <li>
                    <a href="#" class="text-info"><i class="fa fa-reply"></i> Reply</a>
                  </li>
                  <li>
                    <a href="#" class="text-success"><i class="fa fa-thumbs-up"></i> Like</a>
                  </li>
                  <li class="pull-right">
                    <a href="#" class="text-danger">Delete</a>
                  </li>
                  <li class="pull-right">
                    <a href="#" class="text-primary">Edit</a>
                  </li>
                </ul>
              </li><!-- /options -->

              <li class="comment comment-reply">

                <!-- avatar -->
                <img class="avatar" src="https://bootdey.com/img/Content/avatar/avatar5.png" width="35" height="35"
                     alt="avatar">

                <!-- comment body -->
                <div class="comment-body">
                  <a href="#" class="comment-author">
                    <small class="text-muted pull-right"> 4 Minutes ago </small>
                    <span>Ioana Doe</span>
                  </a>
                  <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy! <i
                    class="fa fa-smile-o green"></i>
                  </p>
                </div><!-- /comment body -->

                <!-- options -->
                <ul class="list-inline size-11">
                  <li>
                    <a href="#" class="text-success"><i class="fa fa-thumbs-up"></i> Like</a>
                  </li>
                  <li class="pull-right">
                    <a href="#" class="text-danger">Delete</a>
                  </li>
                  <li class="pull-right">
                    <a href="#" class="text-primary">Edit</a>
                  </li>
                </ul><!-- /options -->

              </li>

              <li>
                <div class="input-group">
                  <input id="btn-input" type="text" class="form-control" placeholder="Type your message...">
                  <span class="input-group-btn">
										<button class="btn btn-primary" id="btn-chat">
											<i class="fa fa-reply"></i> Reply
										</button>
									</span>
                </div>
              </li>
            </ul>
            <!-- /COMMENT -->

          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </div>
</div>
